<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/header'); -%>

    <body>

        <%- include('layouts/navbar'); -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/G-DriveTest-bg.webp')">
            
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container">    
                <h2>License Information</h2>
                <% if(errors != null && errors.length > 0){ %>
                    <ul class="list-group"></ul>
                    <% for (var i = 0; i < errors.length; i++) { %>
                        <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                    <% } %>
                    </ul>
                <% } %>
                <% if(success != null){ %>
                    <label class="list-group-item-success">
                        <%= success %>
                    </label>
                <% } %>
                <form id="gTestForm" action="/g/store" method="post">
                    <div class="form-group">
                        <input type="hidden" name="licenseNumber" value="<%= driverInfo.LicenseNo %>">

                        <h4>Personal Information</h4>
                        <label for="firstname">First Name:</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" value="<%= driverInfo.firstname %>" disabled>
                        
                        <label for="lastname">Last Name:</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" value="<%= driverInfo.lastname %>" disabled>
            
                        <label for="LicenseNo">License Number:</label>
                        <input type="text" class="form-control" id="LicenseNo" name="LicenseNo" maxlength="8" value="<%= driverInfo.LicenseNo %>" disabled>
            
                        <label for="Age">Age:</label>
                        <input type="number" class="form-control" id="Age" name="Age" value="<%= driverInfo.Age %>" disabled>
            
                        <br>

                        <h4>Car Information</h4>
                        <label for="make">Make:</label>
                        <input type="text" class="form-control" id="make" placeholder="Enter car make" name="car_details[make]" value="<%= driverInfo.car_details.make %>" <%= gPassed ? 'disabled' : '' %> >
            
                        <label for="model">Model:</label>
                        <input type="text" class="form-control" id="model" placeholder="Enter car model" name="car_details[model]" value="<%= driverInfo.car_details.model %>" <%= gPassed ? 'disabled' : '' %> >
            
                        <label for="year">Year:</label>
                        <input type="number" class="form-control" id="year" placeholder="Enter car year" name="car_details[year]" value="<%= driverInfo.car_details.year %>" <%= gPassed ? 'disabled' : '' %> >
            
                        <label for="platno">Plate Number:</label>
                        <input type="text" class="form-control" id="platno" placeholder="Enter plate number" name="car_details[platno]" value="<%= driverInfo.car_details.platno %>" <%= gPassed ? 'disabled' : '' %> >

                        <br>

                        <h4>Appointment Information</h4>
                        <input type="text" id="AppointmentId" name="AppointmentId" value="<%= appointmentInfo._id %>" style="display: none;"/>
                        
                        <label for="date">Date:</label>
                        <input type="date" name="date" id="date" class="form-control" value="<%= appointmentInfo.date %>" required <%= gPassed ? 'disabled' : '' %> />
                        
                        <br>
                        <label for="time">Selected Time:</label>
                        <% if (appointmentInfo.time) { %> 
                            <input type="text" class="form-control" id="time" name="time" value="<%= appointmentInfo.time %>" disabled/>
                        <% } %>  
                        <div id="timeButtons" class="form-group">
                            <!-- Time slot buttons will be here -->  
                        </div>

                        <br>
                        <% if (!isDefaultInfo) { %>
                            <h4>Test Result Information</h4>
                            <label for="TestType">Test Type:</label>
                            <input type="text" name="TestType" id="TestType" class="form-control" value="<%= driverInfo.TestType %>" disabled />

                            <label for="TestResult">Test Result:</label>
                            <input type="text" name="TestResult" id="TestResult" class="form-control" value="<%= driverInfo.TestResult %>" disabled />

                            <label for="Comment">Test Comment:</label>
                            <input type="text" name="Comment" id="Comment" class="form-control" value="<%= driverInfo.Comment %>" disabled />
                            <br>
                        <% } %>
                    </div>
                    <br>
                    <% if (g2Passed && !gPassed) { %>
                        <button type="submit" class="btn btn-primary">Save</button>
                    <% } %>    
                </form>  
            </div>
        </main>
        
        <%- include('layouts/footer'); -%>

        <%- include('layouts/scripts'); -%>

    </body>
</html>
