<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/header'); -%>

    <body>

        <%- include('layouts/navbar'); -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/login-bg.webp')">
            
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container">
                <h2>Login Page</h2>
                <% if(errors != null && errors.length > 0){ %>
                    <ul class="list-group"></ul>
                    <% for (var i = 0; i < errors.length; i++) { %>
                        <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                    <% } %>
                    </ul>
                <% } %>
                <form id="loginForm" action="/auth/login" method="POST">
                    <div class="form-group">
                        <label for="Username">User Name:</label>
                        <input type="text" class="form-control" id="Username" placeholder="Enter user name" name="Username" value="<%= username %>" required>
                        
                        <br>

                        <label for="Password">Password:</label>
                        <input type="password" class="form-control" id="Password" placeholder="Enter password" name="Password" required>
                    </div>
                    <br>
                    <button id="loginBtn" type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </main>

        <%- include('layouts/footer'); -%>

        <%- include('layouts/scripts'); -%>
    </body>
</html>
