<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('/assets/img/login-bg.webp')"
    ></header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container">
        <h2>Login Page</h2>
        <% if (errors && errors.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <ul class="mb-0">
            <% errors.forEach(function (error) { %>
            <li><%= error %></li>
            <% }); %>
          </ul>
        </div>
        <% } %>

        <form id="loginForm" action="/auth/login" method="POST" class="py-4">
          <h3 class="text-center mb-4">Login</h3>

          <!-- Username Field -->
          <div class="mb-3">
            <label for="Username" class="form-label">User Name:</label>
            <input
              type="text"
              class="form-control"
              id="Username"
              placeholder="Enter user name"
              name="Username"
              value="<%= username %>"
              required
            />
          </div>

          <!-- Password Field -->
          <div class="mb-3">
            <label for="Password" class="form-label">Password:</label>
            <input
              type="password"
              class="form-control"
              id="Password"
              placeholder="Enter password"
              name="Password"
              required
            />
          </div>

          <!-- Submit Button -->
          <div class="d-grid">
            <button
              id="loginBtn"
              type="submit"
              class="btn btn-primary btn-block"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </main>

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
