<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/header'); -%>

    <body>

        <%- include('layouts/navbar'); -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/signUp-bg.png')">
            
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container">
                <h2>SignUp Page</h2>
                <% if(errors != null && errors.length > 0){ %>
                    <ul class="list-group"></ul>
                    <% for (var i = 0; i < errors.length; i++) { %>
                        <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                    <% } %>
                    </ul>
                <% } %>
                <form id="signUpForm" action="/auth/signUp" method="post">
                    <div class="form-group">
                        <label for="Username">User Name:</label>
                        <input type="text" class="form-control" id="Username" placeholder="Enter user name" name="Username" value="<%= username %>" required>
                        
                        <br>

                        <label for="Password">Password:</label>
                        <input type="password" class="form-control" id="Password" placeholder="Enter password" name="Password" value="<%= password %>" required>

                        <br>

                        <label for="Password2">Confirm Password:</label>
                        <input type="password" class="form-control" id="Password2" placeholder="Enter password" name="Password2" value="<%= password %>" required>

                        <br>

                        <label for="UserType">UserType:</label>
                        <select id="UserType" name="UserType">
                            <option value="Driver">Driver</option>
                            <option value="Examiner">Examiner</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <br>
                    <button id="signUpBtn" type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </main>

        <%- include('layouts/footer'); -%>

        <%- include('layouts/scripts'); -%>
    </body>
</html>
